@import url(https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,700);

html {
  font-size: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 3em;
  text-transform: uppercase;
  line-height: 1em;
  margin-top: 1.25em;
  margin-bottom: 0.35em;
}

a {
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.75em;
}

hr.style2 {
  height: 1px;
  border: 0;
  background: #363636;
  margin-bottom: 0.2em;
}

hr.style1 {
  height: 4px;
  border: 0;
  background: #999999;
  margin-bottom: 0.2em;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
  display: grid;
  grid-row-gap: 20px;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1;
}
