@import url(https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,700);

html {
  font-size: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1em;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 3em;
  text-transform: uppercase;
  line-height: 1em;
  margin-top: 1.25em;
  margin-bottom: 0.35em;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.35em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  line-height: 1.15em;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}

h4 {
  font-family: "Georgia", serif;
  font-weight: 100;
  font-style: italic;
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p {
  font-family: "Georgia", serif;
  font-weight: 100;
  line-height: 1.5;
  font-size: 0.9em;
}

li {
  margin: 10px 0;
}

a {
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.75em;
}

a:link {
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  padding-right: 1em;
}

a:visited {
  color: #363636;
  text-decoration: none;
}

a:hover {
  color: #777777;
}

a:active {
  color: #888888;
}

hr.style2 {
  height: 1px;
  border: 0;
  background: #363636;
  margin-bottom: 0.2em;
}

hr.style1 {
  height: 4px;
  border: 0;
  background: #999999;
  margin-bottom: 0.2em;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
  display: grid;
  grid-row-gap: 20px;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1;
}

.sidebar {
  grid-column: 1 / 2;
  max-height: 50%;
  background-color: #f1f1f1;
  padding-left: 12px;
  border: 1px solid black;
}

.line {
  grid-column: 1 / 4;
}

@media (min-width: 550px) {
  .wrapper {
    grid-template-columns: 2fr 4fr;
    grid-column-gap: 2em;
    grid-row-gap: 20px;
  }

  .header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .content {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  .line {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
}
