<!DOCTYPE html>
<html>
  <head>
    <title>User Registration Form</title>
  </head>
  <body>
    <% if (messages.error) { %> <%= messages.error %> <% } %>
    <form method="post" action="/login">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" /><br /><br />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" /><br /><br />
      <input type="submit" value="Register" />
    </form>
  </body>
</html>
