<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login With Google</title>
  </head>
  <body>
    <h1>Click button to login with Google</h1>
    <a href="\google">Google Login</a>
  </body>
</html>
